@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

/*Comentário */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

ul {
    list-style-type: disc;
    font-weight: bold;
}
a {
    text-decoration: none;
    color:#2F58CD;
}
/*h1 {
    text-decoration: burlywood;
    color:crimson;
    font-size: 3rem; 
}*/

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    background: #1d61dd;
    color: white;
    font-family: 'Montserrat' sans-serif;
    
}
header {
    background: 
    no-repeat center/cover url(assets/e.jpg);
    height: calc(120vh - 100px);
}
header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}
header nav p {
    font-weight: bold;
}

header nav ul{
    display: flex;
}
header nav ul li {
    margin: 0 15px;
}
.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}
.header-content h1{
    margin-bottom: 10px;
    font-size: 4rem;
}
